*{
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
    width: 100vw;
    flex-direction: column;
    gap: 1.8rem;
    
}